*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
}

p{
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 110px;
}

.imagem{
    display: flex;
    justify-content: center;
}

img{
    width: 70%;
    height: 50%;
}

.textos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.textos h1{
    font-family: 'Space Mono', monospace;   
    font-size: 55px;
    width: 80%;
    margin: 0%;
}

.textos p{
    font-family: 'Space Mono';
    width: 80%;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
}


button{
    width: 216px;
    height: 68px;
    border: none;
    color: #ffff;
    background-color: #333333;
    font-family: 'Inconsolata';
    font-size: 14px;
}


footer{
    display: flex;
    justify-content: center;
}






@media(max-width: 880px){
    .container{
        flex-direction: column;
    }
    img{
        width: 286.83px;
        height: 238px;
    }

}


@media(max-width: 466px){
    .container{
        flex-direction: column;
    }


}